@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Acme, sans-serif;
}

#header, #main, #footer {
    padding: 0 50px;
}

/* Classes Styles that belong to header Tag */
.brandName {
    font-family: 'Acme', sans-serif;
    color: #E60023;
}

.brandNameSpan {
    color: #1EA8DD;
}

.menu {

}

.menu-item {

}

.user-icon {

}

.cart-icon {

}

.burger-icon {

}

/* Classes Styles that belong to main Tag */
.shop-info-container {

}

.info {

}

.stars {

}

.call-to-action-container {

}

.call-to-action {

}

.title {

}

.subtitle {

}

.popular-brands-container {

}

.popular-brands {

}

.brand {

}

.shop-by-category-container {

}

.shop-card {

}

.shop-card-image {

}

.shop-card-body {

}

.shop-card-title {

}

.shop-card-description {

}

/* Classes Styles that belong to footer Tag */
.most-popular-container {

}

.most-popular-header {

}

.most-popular-slider {

}

.left-arrow-slider {

}

.right-arrow-slider {

}

.most-popular-cards {

}

.popular-card {

}

.popular-card-image {

}

.popular-card-body  {

}

.popular-card-text {

}

.popular-card-title {

}

.popular-card-description {

}

/* General Styles */
.button {

}
